<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Prompt</th>
      <th>Answer</th>
      <th>Interview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.prompt %></td>
        <td><%= question.answer %></td>
        <td><%= question.interview_id %></td>
        <td><%= link_to 'Show', show_question_path %></td>
        <td>Edit</td>
        <td>Destroy</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

'New Question'
