<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Interview:</strong>
  <%= @question.interview_id %>
</p>

<%= link_to 'Edit', edit_interview_question_path(@interview, @question) %> |
<%= link_to 'Back', interview_questions_path(@interview) %>
