<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Interview:</strong>
  <%= @question.interview_id %>
</p>

'Edit' |
<%= link_to 'Back', show_questions_path %>
