<h1>Home</h1>

<%= link_to "About", about_path %>

<% if user_signed_in? %>
   <p><%= link_to "All Interviews", interviews_path %></p>
   <p><%= link_to "All Generic Questions", generics_path %></p>
   <p><%= link_to "All My Questions", my_questions_path %></p>

   <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
   <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
<% else %>
   <p><%= link_to "Sign Up", new_user_registration_path %></p>
   <p><%= link_to "Sign In", new_user_session_path %></p>
<% end %>