<p id="notice"><%= notice %></p>

<h1>My Questions</h1>

<%= render 'shared/search', path: my_questions_path %>

<table>
  <thead>
    <tr>
      <th>Prompt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <% question.my_questions.each do |my_question| %>
        <tr>
          <% q = my_question.question %>
          <td><%= q.prompt %></td>
          <td><%= link_to 'Show', my_question_path(my_question) %></td>
          <td><%= link_to 'Edit', edit_my_question_path(my_question) %></td>
          <td><%= link_to 'Destroy', my_question_path(my_question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Question', new_my_question_path %> |
<%= link_to 'Home', root_path %>
