<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @interview.position %>
</p>

<p>
  <strong>Company:</strong>
  <%= @interview.company %>
</p>

<p>
  <strong>Date:</strong>
  <%= @interview.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @interview.duration %>
</p>

<p>
  <strong>Interviewer:</strong>
  <%= @interview.interviewer %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @interview.industry %>
</p>

<p>
  <strong>Questions:</strong>
  <% @interview.specifics.each do |s| %>
    <ul>
      <li>
        <% q = s.question %>
        <%= q.prompt %>
        <%= q.answer %>
      </li>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Add Question', interview_specifics_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
