<p id="notice"><%= notice %></p>

<h1>Generics</h1>

<table>
  <thead>
    <tr>
      <th>Prompt</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generics.each do |generic| %>
      <tr>
        <td><%= generic.prompt %></td>
        <td><%= generic.answer %></td>
        <td><%= link_to 'Show', generic %></td>
        <td><%= link_to 'Edit', edit_generic_path(generic) %></td>
        <td><%= link_to 'Destroy', generic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generic', new_generic_path %>
