<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<%= link_to 'Edit', edit_generic_path(@generic) %> |
<%= link_to 'Back', generics_path %>
