<p id="notice"><%= notice %></p>
<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<%= link_to 'Edit', edit_interview_specific_path(@interview, @specific) %> |
<%= link_to 'Back', interview_specifics_path(@interview) %>
